     
@model IEnumerable<Clinic>

@{
    ViewData["Title"] = "Listagem de Clinicas";

}


<h1>Listagem de Clinicas</h1>

<a asp-action="Create">Cadastrar Clinica</a>

<table class="teble">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.Name)


            </th>
            <th></th>


        </tr>


    </thead>
    <tbody>

        @foreach( var item in Model )
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>

                </td>

            </tr>



        }



    </tbody>



</table>